@import "variables";

*, ::before, ::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: $font_size_family;
  line-height: 1.3;
  font-weight: 400;
  font-size: $font_size_default;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding-left: $margin_default;
  padding-right: $margin_default;

  &_fluid {
    max-width: 100%;
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  margin-left: $margin_default * -1;
  margin-right: $margin_default * -1;

  > * {
    box-sizing: border-box;
    max-width: 100%;
    padding-left: $margin_default;
    padding-right: $margin_default;
  }
}

.col {
  &-12 {
    flex: 0 0 auto;
    width: 100%;
  }

  &-11 {
    flex: 0 0 auto;
    width: 91.66666667%;
  }

  &-10 {
    flex: 0 0 auto;
    width: 83.33333333%;
  }

  &-9 {
    flex: 0 0 auto;
    width: 75%;
  }

  &-8 {
    flex: 0 0 auto;
    width: 66.66666667%;
  }

  &-7 {
    flex: 0 0 auto;
    width: 58.33333333%;
  }

  &-6 {
    flex: 0 0 auto;
    width: 50%;
  }

  &-5 {
    flex: 0 0 auto;
    width: 41.66666667%;
  }

  &-4 {
    flex: 0 0 auto;
    width: 33.33333333%;
  }

  &-3 {
    flex: 0 0 auto;
    width: 25%;
  }

  &-2 {
    flex: 0 0 auto;
    width: 16.66666667%;
  }

  &-1 {
    flex: 0 0 auto;
    width: 8.33333333%;
  }
}

.header {
  position: relative;
  height: 100vw;
  background: transparent url('../images/600x600.png') center center no-repeat;
  background-size: cover;

  &__inner {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.3);
  }

  .image-watermark {
    font-size: $font_size_default - 2;
    color: $color_gray3;
  }
}

.page-title {
  margin: 30px 55px 10px 55px;
  font-size: $font_size_default * 3.5;
  line-height: 1.2;
  color: $color_white;
  text-align: center;
}

.animate {
  transform: translateY(10px);
  opacity: 0;
  transition: all 0.3s ease-in-out;

  &--show {
    opacity: 1;
    transform: translateY(0);
  }
}

.sub-title {
  margin: 0 10px;
  font-size: $font_size_default * 2;
  line-height: 1.2;
  color: $color_white;
  letter-spacing: 1px;
  text-align: center;
}

.main-content {
  padding: 35px 0 0;
}

.card {
  position: relative;
  height: 100%;
  padding: 20px 20px 78px 20px;
  box-shadow: 0 0 3px $color_gray;
  border-radius: 10px;
  transition: transform 0.2s ease-in-out;

  &:hover {
    transform: translateY(-10px);
  }

  & > &__inner {
  }

  & &__image-wrapper {
    position: relative;
    overflow: hidden;
    margin-bottom: 20px;
    text-align: center;
    border-radius: 5px;

    > img {
      display: block;
      width: 100%;
      margin: 0 auto;
    }
  }

  & &__content {
    line-height: 1.7;
    text-align: center;
  }

  & &__button-container {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 20px;
    text-align: center;

    & > .card__button-container__button {
      display: inline-block;
      margin: 0 auto;
      padding: 8px 15px;
      border: 3px solid $color_black;
      border-radius: 20px;
      font-size: $font_size_default - 1;
      font-weight: 700;
      color: $color_black;
      letter-spacing: 2px;
      text-transform: uppercase;
      text-decoration: none;
      transition: all 0.3s ease-in-out;
    }

    & > .card__button-container__button:hover {
      background-color: $color_black;
      color: $color_white;
    }
  }
}

.image-watermark {
  position: absolute;
  right: 8px;
  bottom: 5px;
  font-size: $font_size_default - 3;
  color: $color_gray2;
}

.card-spacer {
  padding-bottom: 37px;
}

//--------------------
//Exercise 2

.exercise-2 {
  margin-top: 50px;
  margin-bottom: 40px;
}

.tabs-container {
  overflow: hidden;
  position: relative;
  display: none;
}

.tabs {
  position: relative;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 0;
  border-bottom: 1px solid $color_gray;

  &::before {
  }

  &__item {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin-bottom: -1px;
    border: 1px solid $color_gray;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    background-color: transparent;
    transition: background-color 0.3s ease-in-out;

    &--active {
      background-color: $color_white;
      border-bottom-color: $color_white;
    }

    &--active &__button {
      font-weight: 900;
    }

    &__button {
      display: block;
      padding: 8px 13px;
      font-size: $font_size_default;
      line-height: 1;
      color: $color_black;
      text-decoration: none;
    }

    &:not(.tabs__item--active):hover {
      background-color: $color_gray;
    }
  }
}

.tabs-content-container {
  position: relative;
  border-top: 1px solid $color_gray;
}

.tabs-content {
  padding: 0;
  background-color: $color_white;
  border-bottom: 1px solid $color_gray;

  &__button {
  }

  &__button > &__button__handle {
    position: relative;
    display: block;
    padding: 15px 30px;
    color: $color_black;
    font-weight: 700;
    text-decoration: none;
  }

  &__button > &__button__handle::after {
    position: absolute;
    content: '';
    width: 13px;
    height: 13px;
    top: 50%;
    right: 15px;
    border-bottom: 2px solid $color_gray2;
    border-right: 2px solid $color_gray2;
    transform: translateY(-50%) rotate(45deg);
    transition: transform 0.3s ease-in-out;
  }

  &__inner {
    overflow: hidden;
    max-height: 0;

    &__wrapper {
      padding: 0 30px 30px 30px;
    }
  }

  &--active &__inner {
    max-height: 100%;
  }

  &--active &__button > &__button__handle::after {
    transform: translateY(-50%) rotate(-135deg);
  }
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }

  .col {
    &-sm-12 {
      flex: 0 0 auto;
      width: 100%;
    }
  
    &-sm-11 {
      flex: 0 0 auto;
      width: 91.66666667%;
    }
  
    &-sm-10 {
      flex: 0 0 auto;
      width: 83.33333333%;
    }
  
    &-sm-9 {
      flex: 0 0 auto;
      width: 75%;
    }
  
    &-sm-8 {
      flex: 0 0 auto;
      width: 66.66666667%;
    }
  
    &-sm-7 {
      flex: 0 0 auto;
      width: 58.33333333%;
    }
  
    &-sm-6 {
      flex: 0 0 auto;
      width: 50%;
    }
  
    &-sm-5 {
      flex: 0 0 auto;
      width: 41.66666667%;
    }
  
    &-sm-4 {
      flex: 0 0 auto;
      width: 33.33333333%;
    }
  
    &-sm-3 {
      flex: 0 0 auto;
      width: 25%;
    }
  
    &-sm-2 {
      flex: 0 0 auto;
      width: 16.66666667%;
    }
  
    &-sm-1 {
      flex: 0 0 auto;
      width: 8.33333333%;
    }
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }

  .col {
    &-md-12 {
      flex: 0 0 auto;
      width: 100%;
    }
  
    &-md-11 {
      flex: 0 0 auto;
      width: 91.66666667%;
    }
  
    &-md-10 {
      flex: 0 0 auto;
      width: 83.33333333%;
    }
  
    &-md-9 {
      flex: 0 0 auto;
      width: 75%;
    }
  
    &-md-8 {
      flex: 0 0 auto;
      width: 66.66666667%;
    }
  
    &-md-7 {
      flex: 0 0 auto;
      width: 58.33333333%;
    }
  
    &-md-6 {
      flex: 0 0 auto;
      width: 50%;
    }
  
    &-md-5 {
      flex: 0 0 auto;
      width: 41.66666667%;
    }
  
    &-md-4 {
      flex: 0 0 auto;
      width: 33.33333333%;
    }
  
    &-md-3 {
      flex: 0 0 auto;
      width: 25%;
    }
  
    &-md-2 {
      flex: 0 0 auto;
      width: 16.66666667%;
    }
  
    &-md-1 {
      flex: 0 0 auto;
      width: 8.33333333%;
    }
  }

  .header {
    height: 490px;
    background: transparent url('../images/1920x650.png') center center no-repeat;
    background-size: auto 1400px;

    .image-watermark {
      font-size: $font_size_default - 1;
    }
  }  
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }

  .col {
    &-xl-12 {
      flex: 0 0 auto;
      width: 100%;
    }
  
    &-xl-11 {
      flex: 0 0 auto;
      width: 91.66666667%;
    }
  
    &-xl-10 {
      flex: 0 0 auto;
      width: 83.33333333%;
    }
  
    &-xl-9 {
      flex: 0 0 auto;
      width: 75%;
    }
  
    &-xl-8 {
      flex: 0 0 auto;
      width: 66.66666667%;
    }
  
    &-xl-7 {
      flex: 0 0 auto;
      width: 58.33333333%;
    }
  
    &-xl-6 {
      flex: 0 0 auto;
      width: 50%;
    }
  
    &-xl-5 {
      flex: 0 0 auto;
      width: 41.66666667%;
    }
  
    &-xl-4 {
      flex: 0 0 auto;
      width: 33.33333333%;
    }
  
    &-xl-3 {
      flex: 0 0 auto;
      width: 25%;
    }
  
    &-xl-2 {
      flex: 0 0 auto;
      width: 16.66666667%;
    }
  
    &-xl-1 {
      flex: 0 0 auto;
      width: 8.33333333%;
    }
  }

  .header {
    height: 520px;
    background-size: auto 1665px;
  }

  .page-title {
    margin: 30px 0 10px 0;
    font-size: $font_size_default * 4;
    line-height: 1.2;
  }
  
  .sub-title {
    margin: 0;
    font-size: $font_size_default * 2.2;
    line-height: 1.2;
  }

  .tabs-container {
    display: block;
  }

  .tabs-content-container {
    border-top: none;
  }

  .tabs-content {
    position: absolute;
    width: calc(100% - 60px);
    padding: 30px;
    opacity: 0;
    visibility: none;
    background-color: $color_white;
    border-bottom: none;
    z-index: 5;
    transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;

    &--active {
      opacity: 1;
      visibility: visible;
      z-index: 1000;
    }

    &__button {
      display: none;
    }

    &__inner {
      max-height: 100%;
    }

    &__inner__wrapper {
      padding: 0;
    }
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }

  .col {
    &-xxl-12 {
      flex: 0 0 auto;
      width: 100%;
    }
  
    &-xxl-11 {
      flex: 0 0 auto;
      width: 91.66666667%;
    }
  
    &-xxl-10 {
      flex: 0 0 auto;
      width: 83.33333333%;
    }
  
    &-xxl-9 {
      flex: 0 0 auto;
      width: 75%;
    }
  
    &-xxl-8 {
      flex: 0 0 auto;
      width: 66.66666667%;
    }
  
    &-xxl-7 {
      flex: 0 0 auto;
      width: 58.33333333%;
    }
  
    &-xxl-6 {
      flex: 0 0 auto;
      width: 50%;
    }
  
    &-xxl-5 {
      flex: 0 0 auto;
      width: 41.66666667%;
    }
  
    &-xxl-4 {
      flex: 0 0 auto;
      width: 33.33333333%;
    }
  
    &-xxl-3 {
      flex: 0 0 auto;
      width: 25%;
    }
  
    &-xxl-2 {
      flex: 0 0 auto;
      width: 16.66666667%;
    }
  
    &-xxl-1 {
      flex: 0 0 auto;
      width: 8.33333333%;
    }
  }
}